services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./conf.d:/etc/nginx/conf.d
      - ./logs:/var/log/nginx
      - ./ssl:/etc/nginx/ssl:ro
    restart: always
    networks:
      - webnet

networks:
  webnet:
    name: webnet
    driver: bridge
