server {
    listen      443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name __HOST__;

    include snippets/ssl.conf;
    include snippets/security.conf;

    location / {
        set $upstream http://__UPSTREAM__:__PORT__;
        proxy_pass $upstream;
        include snippets/proxy.conf;
    }
}

server {
    listen      80;
    listen [::]:80;
    server_name __HOST__;
    return 301 https://$host$request_uri;
}
