[Unit]
Description=dnsmasq DNS server for ubuntu.local domain
Documentation=https://github.com/jpillora/docker-dnsmasq

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/workspace/dnsmasq

# コンテナを起動
ExecStart=/usr/bin/docker compose up -d

# コンテナを停止
ExecStop=/usr/bin/docker compose down

# サービス再起動時の設定
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
